// @media(max-width: 940px) {
// }



// @media(max-width: 767px) {


// }


@media(max-width: 480px) {
     .credits {
          display: flex;
          flex-direction: column;
     }

     .poke-picture {
          flex-direction: column;
     }

     .master-box {
          flex-direction: column;
     }

     .hide {
          display: none;
     }
}

