@media(max-width: 480px) {
     .hide {
          display: none;
     }

     .credits,
     .poke-picture,
     .master-box {
          flex-direction: column;
     }

     .shiny {
          width: 90%;
     }
}

