@media(max-width: 480px) {
     .hide {
          display: none;
     }

     .credits,
     .poke-picture,
     .master-box {
          flex-direction: column;
     }

     .shiny {
          width: 90%;
     }
     
     .squirtle-shadow::before {
          bottom: 189px;
     }
     
     .charmander-shadow::before {
          bottom: 183px;
     }
     
     .bulbasaur-shadow::before {
          bottom: 197px;
     }
     
     .pikachu-shadow::before {
          bottom: 185px;
     }
     
     .vulpix-shadow::before {
          bottom: 180px;
     }
     
     .psyduck-shadow::before {
          bottom: 188px;
     }
     
     .growlithe-shadow::before {
          bottom: 190px;
     }
     
     .poliwag-shadow::before {
          bottom: 188px;
     }
     
     .tentacool-shadow::before {
          bottom: 187px;
     }
     
     .ponyta-shadow::before {
          bottom: 176px;
     }
     
     .slowpoke-shadow::before {
          bottom: 185px;
     }
     
     .magnemite-shadow::before {
          bottom: 180px;
     }
     
     .seel-shadow::before {
          bottom: 183px;
     }
     
     .shellder-shadow::before {
          bottom: 196px;
     }
     
     .krabby-shadow::before {
          bottom: 195px;
     }
     
     .voltorb-shadow::before {
          bottom: 178px;
     }
     
     .exeggcute-shadow::before {
          bottom: 192px;
     }
     
     .tangela-shadow::before {
          bottom: 187px;
     }
     
     .horsea-shadow::before {
          bottom: 191px;
     }
     
     .goldeen-shadow::before {
          bottom: 186px;
     }
     
     .staryu-shadow::before {
          bottom: 200px;
     }
     
     .magikarp-shadow::before {
          bottom: 187px;
     }
     
     .lapras-shadow::before {
          bottom: 168px;
     }
}