.pokemon-data {
    border: 2px solid #393939;
    border-radius: 5px;
    background-color: #bdae58;
    box-shadow: inset 5px 5px rgba(0, 0, 0, 0.15);
    outline: 12px solid #777;
    max-width: 440px;
    margin: 50px auto 50px auto;
}

.poke-picture {
    position: relative;
    z-index: 10;
}

.poke-picture::before {
    content : '';
    width: 55px;
    height: 15px;
    border-radius: 50%;  
    background: #9f913e;
    display: block;
    position: absolute;
    bottom: 39px;
    left: 42px;
    z-index: -10;
}

.squirtle-styles {
    color: #9fd5dd;
    text-shadow: 2px 2px 1px #297383;
}

.charmander-styles {
    color: #ec6f3c;
    text-shadow: 2px 2px 1px #b7442d;
}

.bulbasaur-styles {
    color: #66cab1;
    text-shadow: 2px 2px 1px #266a6a;
}

.pikachu-styles {
    color: #f6e757;
    text-shadow: 2px 2px 1px #d98f00;
}

.vulpix-styles {
    color:  rgb(241, 145, 93);
    text-shadow: 2px 2px 1px rgb(169, 109, 50);
}

.psyduck-styles {
    color:  rgb(255, 217, 0);
    text-shadow: 2px 2px 1px rgb(239, 164, 57);
}

.growlithe-styles {
    color:  rgb(251, 135, 46);
    text-shadow: 2px 2px 1px rgb(211, 70, 72);
}

.poliwag-styles {
    color:  rgb(75, 126, 203);
    text-shadow: 2px 2px 1px rgb(52, 87, 135);
}

.tentacool-styles {
    color:  rgb(109, 213, 251);
    text-shadow: 2px 2px 1px rgb(27, 149, 176);
}

.ponyta-styles {
    color:  rgb(255, 239, 201);
    text-shadow: 2px 2px 1px rgb(233, 207, 129);
}

.slowpoke-styles {
    color:  rgb(255, 119, 142);
    text-shadow: 2px 2px 1px rgb(237, 83, 118);
}

.magnemite-styles {
    color:  rgb(172, 216, 188);
    text-shadow: 2px 2px 1px rgb(128, 183, 164);
}

.seel-styles {
    color:  rgb(231, 229, 247);
    text-shadow: 2px 2px 1px rgb(212, 202, 241);
}

.shellder-styles {
    color:  rgb(201, 184, 242);
    text-shadow: 2px 2px 1px rgb(161, 132, 201);
}

.krabby-styles {
    color:  rgb(255, 161, 77);
    text-shadow: 2px 2px 1px rgb(238, 65, 57);
}

.voltorb-styles {
    color:  rgb(255, 59, 0);
    text-shadow: 2px 2px 1px rgb(182, 170, 190);
}

.exeggcute-styles {
    color:  rgb(255, 230, 201);
    text-shadow: 2px 2px 1px rgb(252, 125, 83);
}

.tangela-styles {
    color:  rgb(133, 213, 251);
    text-shadow: 2px 2px 1px rgb(186, 2, 56);
}

.horsea-styles {
    color:  rgb(159, 195, 242);
    text-shadow: 2px 2px 1px rgb(223, 200, 34);
}

.goldeen-styles {
    color:  rgb(255, 255, 255);
    text-shadow: 2px 2px 1px rgb(229, 45, 0);
}

.staryu-styles {
    color:  rgb(221, 156, 62);
    text-shadow: 2px 2px 1px rgb(163, 105, 43);
}

.magikarp-styles {
    color:  rgb(255, 152, 78);
    text-shadow: 2px 2px 1px rgb(203, 49, 52);
}

.lapras-styles {
    color:  rgb(249, 224, 165);
    text-shadow: 2px 2px 1px rgb(22, 161, 237);
}

