$headerFont: 'Press Start 2P', cursive;
$buttonFont: 'Teko', sans-serif;

$ruby-red: #A93671;
$charcoal: #262626;
$dark-cyan: #008b8b;
$light-gray: #d3d3d3;

html {
  font-size: 125%; /* 16px * 1.25 = 20px */
}

h1 {
     text-transform: uppercase;
     text-align: center;
     font-family: $headerFont;
     color: $dark-cyan;
     text-shadow: 4px 4px 1px $charcoal;
     letter-spacing: 1px;
}

h2,
h3,
h4 {
     font-family: $buttonFont;
     text-transform: uppercase;
     letter-spacing: 2px;
     color: $charcoal;
}

h2, 
h3 {
     font-size: 1.5rem;
     text-align: center;
}

h4 {
     padding: 0 15px;
}

p {
     text-align: center;
     font-family: $buttonFont;
}

a {
     text-decoration: none;
     color: $charcoal;
}