@import "setup";
@import "typography";




body {
     background-color: lightgray;
     color: orangered;
}

.wrapper {
     max-width: 1200px;
     margin: 0 auto;
     width: 90%;
}
h1 {
     text-transform: uppercase;
     text-align: center;
     font-family: $headerFont;
}

p {
     text-align: center;
}

.myForm {
     text-align: center;
}