html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  /* 16px * 1.25 = 20px */
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  color: #008b8b;
  text-shadow: 4px 4px 1px #262626;
  letter-spacing: 1px;
}

h2,
h3,
h4 {
  font-family: "Teko", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #262626;
}

h2,
h3 {
  font-size: 1.5rem;
  text-align: center;
}

h4 {
  padding: 0 15px;
}

p {
  text-align: center;
  font-family: "Teko", sans-serif;
}

a {
  text-decoration: none;
  color: #262626;
}

.poke-picture::before {
  content: "";
  width: 55px;
  height: 15px;
  border-radius: 50%;
  background: #9f913e;
  display: block;
  position: absolute;
  z-index: -10;
}

.poke-picture::after {
  content: "";
  width: 55px;
  height: 15px;
  border-radius: 50%;
  background: #9f913e;
  display: block;
  position: absolute;
  z-index: -10;
}

.squirtle-styles {
  color: #9fd5dd;
  text-shadow: 2px 2px 1px #297383;
}

.squirtle-shadow::before {
  bottom: 39px;
  left: 44px;
}

.squirtle-shadow::after {
  bottom: 39px;
  right: 53px;
}

.charmander-styles {
  color: #ec6f3c;
  text-shadow: 2px 2px 1px #b7442d;
}

.charmander-shadow::before {
  bottom: 33px;
  left: 43px;
}

.charmander-shadow::after {
  bottom: 33px;
  right: 53px;
}

.bulbasaur-styles {
  color: #66cab1;
  text-shadow: 2px 2px 1px #266a6a;
}

.bulbasaur-shadow::before {
  bottom: 47px;
  left: 45px;
}

.bulbasaur-shadow::after {
  bottom: 47px;
  right: 53px;
}

.pikachu-styles {
  color: #f6e757;
  text-shadow: 2px 2px 1px #d98f00;
}

.pikachu-shadow::before {
  bottom: 35px;
  left: 41px;
}

.pikachu-shadow::after {
  bottom: 35px;
  right: 53px;
}

.vulpix-styles {
  color: #f1915d;
  text-shadow: 2px 2px 1px #a96d32;
}

.vulpix-shadow::before {
  bottom: 30px;
  left: 47px;
}

.vulpix-shadow::after {
  bottom: 36px;
  right: 53px;
}

.psyduck-styles {
  color: #ffd900;
  text-shadow: 2px 2px 1px #efa439;
}

.psyduck-shadow::before {
  bottom: 38px;
  left: 47px;
}

.psyduck-shadow::after {
  bottom: 38px;
  right: 47px;
}

.growlithe-styles {
  color: #fb872e;
  text-shadow: 2px 2px 1px #d34648;
}

.growlithe-shadow::before {
  bottom: 40px;
  left: 38px;
  width: 75px;
  height: 20px;
}

.growlithe-shadow::after {
  bottom: 36px;
  right: 39px;
  width: 75px;
  height: 20px;
}

.poliwag-styles {
  color: #4b7ecb;
  text-shadow: 2px 2px 1px #345787;
}

.poliwag-shadow::before {
  bottom: 38px;
  left: 43px;
  width: 50px;
}

.poliwag-shadow::after {
  bottom: 38px;
  right: 43px;
  width: 50px;
}

.tentacool-styles {
  color: #6dd5fb;
  text-shadow: 2px 2px 1px #1b95b0;
}

.tentacool-shadow::before {
  bottom: 37px;
  left: 52px;
  width: 40px;
  height: 10px;
}

.tentacool-shadow::after {
  bottom: 37px;
  right: 56px;
  width: 37px;
  height: 10px;
}

.ponyta-styles {
  color: #ffefc9;
  text-shadow: 2px 2px 1px #e9cf81;
}

.ponyta-shadow::before {
  bottom: 26px;
  left: 47px;
}

.ponyta-shadow::after {
  bottom: 26px;
  right: 51px;
}

.slowpoke-styles {
  color: #ff778e;
  text-shadow: 2px 2px 1px #ed5376;
}

.slowpoke-shadow::before {
  bottom: 35px;
  left: 28px;
  width: 85px;
}

.slowpoke-shadow::after {
  bottom: 38px;
  right: 31px;
  width: 85px;
}

.magnemite-styles {
  color: #acd8bc;
  text-shadow: 2px 2px 1px #80b7a4;
}

.magnemite-shadow::before {
  bottom: 30px;
  left: 63px;
  width: 25px;
  height: 10px;
}

.magnemite-shadow::after {
  bottom: 30px;
  right: 62px;
  width: 25px;
  height: 10px;
}

.seel-styles {
  color: #e7e5f7;
  text-shadow: 2px 2px 1px #d4caf1;
}

.seel-shadow::before {
  bottom: 32px;
  left: 45px;
}

.seel-shadow::after {
  bottom: 38px;
  right: 51px;
}

.shellder-styles {
  color: #c9b8f2;
  text-shadow: 2px 2px 1px #a184c9;
}

.shellder-shadow::before {
  bottom: 46px;
  left: 41px;
  width: 67px;
  height: 20px;
}

.shellder-shadow::after {
  bottom: 48px;
  right: 45px;
  width: 67px;
  height: 20px;
}

.krabby-styles {
  color: #ffa04d;
  text-shadow: 2px 2px 1px #ee4139;
}

.krabby-shadow::before {
  bottom: 45px;
  left: 48px;
  width: 48px;
}

.krabby-shadow::after {
  bottom: 47px;
  right: 54px;
  width: 46px;
}

.voltorb-styles {
  color: #ff3b00;
  text-shadow: 2px 2px 1px #b6aabe;
}

.voltorb-shadow::before {
  bottom: 27px;
  left: 60px;
  width: 34px;
  height: 10px;
}

.voltorb-shadow::after {
  bottom: 27px;
  right: 57px;
  width: 34px;
  height: 10px;
}

.exeggcute-styles {
  color: #d4cabd;
  text-shadow: 2px 2px 1px #fc7d53;
}

.exeggcute-shadow::before {
  bottom: 41px;
  left: 30px;
  width: 90px;
  height: 20px;
}

.exeggcute-shadow::after {
  bottom: 43px;
  right: 33px;
  width: 90px;
  height: 24px;
}

.tangela-styles {
  color: #85d6fb;
  text-shadow: 2px 2px 1px #ba0238;
}

.tangela-shadow::before {
  bottom: 37px;
  left: 41px;
  width: 62px;
}

.tangela-shadow::after {
  bottom: 37px;
  right: 44px;
  width: 62px;
}

.horsea-styles {
  color: #9fc3f2;
  text-shadow: 2px 2px 1px #dfc822;
}

.horsea-shadow::before {
  bottom: 41px;
  left: 51px;
  width: 40px;
}

.horsea-shadow::after {
  bottom: 44px;
  right: 51px;
  width: 40px;
}

.goldeen-styles {
  color: #ffffff;
  text-shadow: 2px 2px 1px #e52d00;
}

.goldeen-shadow::before {
  bottom: 31px;
  left: 35px;
  width: 54px;
  height: 10px;
}

.goldeen-shadow::after {
  bottom: 31px;
  right: 30px;
  width: 60px;
  height: 10px;
}

.staryu-styles {
  color: #dd9b3e;
  text-shadow: 2px 2px 1px #a3692b;
}

.staryu-shadow::before {
  bottom: 50px;
  left: 42px;
  width: 56px;
}

.staryu-shadow::after {
  bottom: 50px;
  right: 60px;
  width: 56px;
}

.magikarp-styles {
  color: #ff984e;
  text-shadow: 2px 2px 1px #cb3134;
}

.magikarp-shadow::before {
  bottom: 38px;
  left: 40px;
  width: 64px;
}

.magikarp-shadow::after {
  bottom: 38px;
  right: 36px;
  width: 64px;
}

.lapras-styles {
  color: #f9e0a5;
  text-shadow: 2px 2px 1px #16a2ed;
}

.lapras-shadow::before {
  bottom: 19px;
  left: 30px;
  width: 100px;
  height: 30px;
}

.lapras-shadow::after {
  bottom: 22px;
  right: 27px;
  width: 106px;
  height: 30px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ball,
.ball2 {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 5px #262626 solid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #7D1827), color-stop(49%, red), color-stop(5%, #262626), color-stop(49%, white), to(#CADBD1));
  background-image: linear-gradient(#7D1827 5%, red 49%, #262626 5%, white 49%, #CADBD1);
  margin: 10px;
}

.center,
.center2 {
  background: white;
  border: 3px #262626 solid;
}

.center {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: grey;
}

.center2 {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-image: radial-gradient(white 60%, #757F7A);
}

.ball:hover,
.ball2:hover {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.ball:hover {
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
}

.ball2:hover {
  -webkit-transform: rotate(-8deg);
          transform: rotate(-8deg);
}

body {
  background-color: #d3d3d3;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.master-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.my-form {
  text-align: center;
}

label,
select {
  text-transform: uppercase;
  font-family: "Teko", sans-serif;
  letter-spacing: 1px;
  color: #262626;
}

select {
  background-color: #008b8b;
  border: none;
  padding-left: 5px;
  margin-left: 10px;
}

.pokemon-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border: 2px solid #393939;
  border-radius: 5px;
  background-color: #bdae58;
  -webkit-box-shadow: inset 5px 5px rgba(0, 0, 0, 0.15);
          box-shadow: inset 5px 5px rgba(0, 0, 0, 0.15);
  outline: 12px solid #777;
  max-width: 440px;
  min-height: 316px;
  width: 80%;
  margin: 50px auto 50px auto;
}
.pokemon-data h3 {
  font-family: "Teko", sans-serif;
  letter-spacing: 2px;
  margin: 0;
}

.poke-badge {
  position: absolute;
  top: -40px;
  right: -40px;
}
.poke-badge img {
  width: 70px;
}

.poke-picture {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.poke-picture img {
  height: 150px;
}

.poke-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 50px;
}

.shiny {
  text-transform: uppercase;
  font-family: "Teko", sans-serif;
  background-color: #A93671;
  color: white;
  border: none;
  width: 70%;
  padding: 0.5em 0 0.4em 0;
  border-radius: 5px 5px 0 0;
  margin-top: 15px;
  position: absolute;
  bottom: 0;
}
.shiny:hover, .shiny:focus {
  color: #262626;
  background-color: #c64c8b;
}

footer {
  background-color: #262626;
  margin-top: 70px;
  padding: 20px 0;
}
footer .credits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 630px;
  margin: auto;
}
footer a, footer p {
  color: white;
}
footer a:hover {
  color: #A93671;
}

@media (max-width: 480px) {
  .hide {
    display: none;
  }

  .credits,
.poke-picture,
.master-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .shiny {
    width: 90%;
  }

  .squirtle-shadow::before {
    bottom: 189px;
  }

  .charmander-shadow::before {
    bottom: 183px;
  }

  .bulbasaur-shadow::before {
    bottom: 197px;
  }

  .pikachu-shadow::before {
    bottom: 185px;
  }

  .vulpix-shadow::before {
    bottom: 180px;
  }

  .psyduck-shadow::before {
    bottom: 188px;
  }

  .growlithe-shadow::before {
    bottom: 190px;
  }

  .poliwag-shadow::before {
    bottom: 188px;
  }

  .tentacool-shadow::before {
    bottom: 187px;
  }

  .ponyta-shadow::before {
    bottom: 176px;
  }

  .slowpoke-shadow::before {
    bottom: 185px;
  }

  .magnemite-shadow::before {
    bottom: 180px;
  }

  .seel-shadow::before {
    bottom: 183px;
  }

  .shellder-shadow::before {
    bottom: 196px;
  }

  .krabby-shadow::before {
    bottom: 195px;
  }

  .voltorb-shadow::before {
    bottom: 178px;
  }

  .exeggcute-shadow::before {
    bottom: 192px;
  }

  .tangela-shadow::before {
    bottom: 187px;
  }

  .horsea-shadow::before {
    bottom: 191px;
  }

  .goldeen-shadow::before {
    bottom: 186px;
  }

  .staryu-shadow::before {
    bottom: 200px;
  }

  .magikarp-shadow::before {
    bottom: 187px;
  }

  .lapras-shadow::before {
    bottom: 168px;
  }
}